/* Global */

:root {
    --backC: #101010;
    --mainC: #0073b1;
    --mainC2: #b10000;
    --darkC: #CCC;
    --whiteC: #FFF;
    --blackC: #000;
    --borderC: rgba(255, 255, 255, 0.1);
    --mainShadowC: rgba(0, 0, 0, 0.25);
    --shadowC: rgba(0, 0, 0, 0.5);
    --firstC: #111;
    --secondC: #222;
    --thirdC: #333;
    --fourthC: #444;
    --fifthC: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* For Time Only
body {
    overflow: hidden;
} */

html {
    scroll-behavior: smooth;
}

body {
    cursor: url(https://i.postimg.cc/W3sMYzZ9/5.png), default !important;
}

a {
    cursor: url(https://i.postimg.cc/4dTKNxQz/1p.png), pointer !important;
    /* cursor: url(https://i.postimg.cc/Kj53Wkw9/2p.png), pointer !important; */
}

p,
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
    cursor: url(https://i.postimg.cc/SQ8S5JnP/360-F-213268478-0fd04f-F8-CKGRd-XBc8e-AHNJfdmtc-Mk3-Ea-1.png), text;
}

::selection {
    color: var(--mainC);
}

img::selection {
    background-color: transparent;
}


body {
    color: var(--whiteC);
    background-color: var(--backC);
    /* background-image: url("../Image/bootstrap.jpg"); */
    font-family: 'Shadows Into Light', "ink free", sans-serif, cursive;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--secondC);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2.5px solid var(--secondC);
    border-radius: 5px;
    background-color: var(--fourthC);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--fifthC);
}

a {
    text-decoration: none;
}

hr {
    width: 37.5%;
    margin: 10px auto;
    border-color: var(--borderC);
}

input {
    all: unset;
}

.scrollTop {
    display: block;
    width: 50px;
    height: 50px;
    /*background-color: #333;
    */
    background: url(https://i.postimg.cc/kGk7H50v/scroll-up.png) no-repeat center center;
    background-size: 125%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #555;
    box-shadow: 0 5px 10px -5px var(--shadowC);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scrollTop:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.scrollTop:active {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.scrollDown {
    display: block;
    width: 50px;
    height: 50px;
    /* background-color: #333; */
    background: url(https://i.postimg.cc/9MgmGb1S/scroll-down.png) no-repeat center center;
    background-size: 125%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid #555;
    box-shadow: 0 5px 10px -5px var(--shadowC);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scrollDown:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.scrollDown:active {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}
