/* Header */

:root {
    --backC: #101010;
    --mainC: #0073b1;
    --mainC2: #b10000;
    --darkC: #CCC;
    --whiteC: #FFF;
    --blackC: #000;
    --borderC: rgba(255, 255, 255, 0.1);
    --mainShadowC: rgba(0, 0, 0, 0.25);
    --shadowC: rgba(0, 0, 0, 0.5);
    --firstC: #111;
    --secondC: #222;
    --thirdC: #333;
    --fourthC: #444;
    --fifthC: #555;
}

.headOfPage {
    color: var(--whiteC);
    background-color: var(--blackC);
    padding: 20px 50px;
    width: 100%;
    text-transform: capitalize;
    /* border-top: 1px solid var(--whiteC); */
    border-bottom: 1px solid var(--whiteC);
    box-shadow: 0 5px 10px var(--mainShadowC);
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.allHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* Image Logo */

.flexImg {
    display: flex;
    margin-right: 40px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.flexImg img {
    width: 155px;
    height: 35px;
}

.flexImg:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

/* Center Text */

.centerHeader {
    /* All Text */
    display: flex;
    align-self: center;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: normal;
}

.mainCenter {
    /* Logo Text 1 */
    color: var(--whiteC);
    font-family: "Nagietha", sans-serif;
    font-size: 32px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.mainCenter:hover {
    color: var(--mainC);
}

.twoCenter {
    /* Logo Text 2 */
    font-family: "ink free", sans-serif;
    font-size: 16px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.twoCenter:hover {
    color: var(--mainC2);
}

.centerHeaderlogo {
    /* Text Logo Img */
    display: flex;
    align-self: center;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: normal;
}

.mainCenterlogo {
    font-family: "Nagietha", sans-serif;
    font-size: 40px;
}

.twoCenterlogo {
    font-family: "ink free", sans-serif;
    font-size: 24px;
}

/* Button Header
.centerLink {
    color: var(--whiteC);
    border: .5px solid var(--whiteC);
    background-color: var(--shadowC);
    padding: 0 15px;
    display: flex;
    margin: auto 15px;
    text-transform: capitalize;
} */

/* Main Right Links */

.headLinks {
    height: 100%;
    display: flex;
    align-self: center;
}

.ulLinks {
    list-style: none;
    display: inline-flex;
    margin-right: 5px;
    position: relative;
    line-height: 1;
}

.upLinks::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 0%;
    border-radius: 2.5px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    -ms-border-radius: 2.5px;
    -o-border-radius: 2.5px;
}

.upLinks:hover::before {
    left: 0;
    width: 100%;
}

.upLinks {
    color: var(--whiteC);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin-left: 5px;
}

.upLinks:hover {
    color: var(--mainC);
}

/* Head Menu */

.headMenu {
    display: none;
    height: 40px;
    padding: 7.5px 12.5px;
    cursor: url(https://i.postimg.cc/4dTKNxQz/1p.png), pointer !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.headMenu:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.headMenu svg {
    fill: var(--whiteC);
}

@media (max-width: 760px) {
    .headLinks {
        display: none;
    }

    .headMenu {
        display: flex;
    }
}